<div class="row">
    <a [routerLink]="['/films']"><strong><< Back</strong></a>
</div>
<h1>Create New Film</h1>
<form #myForm="ngForm"
      (ngSubmit)="register(myForm)"
      class="form-horizontal">

    <div class="form-group">
        <label for="name" class="col-md-4 control-label">Name</label>
        <div class="col-md-6">
            <input type="text" #name="ngModel"
                   [(ngModel)]="model.name"
                   class="form-control"
                   id="name" name="name" required>
        </div>

        <div [hidden]="name.valid || name.pristine"
             class="col-md-6 alert alert-danger">
            Name is required
        </div>
    </div>

    <div class="form-group">
        <label for="description" class="col-md-4 control-label">Description</label>
        <div class="col-md-6">
            <input type="text" #description="ngModel"
                   [(ngModel)]="model.description"
                   class="form-control" id="description" name="description" required>
        </div>

        <div [hidden]="description.valid || description.pristine"
             class="col-md-6 alert alert-danger">
            Description is required
        </div>
    </div>

    <div class="form-group">
        <label for="release_date" class="col-md-4 control-label">Release Date</label>
        <div class="col-md-6">
            <date-picker #release_date="ngModel"
                         [(ngModel)]="model.release_date"
                         id="release_date"
                         name="release_date"
                         [required]="true"></date-picker>
        </div>

        <div [hidden]="release_date.valid || release_date.pristine"
             class="col-md-6 alert alert-danger">
            Release Date is required
        </div>
    </div>


    <div class="form-group">
        <label for="rating" class="col-md-4 control-label">Rating</label>
        <div class="col-md-6">
            <input type="text" #rating="ngModel"
                   [(ngModel)]="model.rating"
                   class="form-control" id="rating" name="rating" required>
        </div>
        <div [hidden]="rating.valid || rating.pristine"
             class="col-md-6 alert alert-danger">
            Rating is required
        </div>
    </div>

    <div class="form-group">
        <label for="ticket_price" class="col-md-4 control-label">Ticket Price</label>
        <div class="col-md-6">
            <input type="text" #ticket_price="ngModel"
                   [(ngModel)]="model.ticket_price"
                   class="form-control" id="ticket_price" name="ticket_price" required>
        </div>
        <div [hidden]="ticket_price.valid || ticket_price.pristine"
             class="col-md-6 alert alert-danger">
            Ticket Price is required
        </div>
    </div>

    <div class="form-group">
        <label for="country" class="col-md-4 control-label">Country</label>
        <div class="col-md-6">
            <input type="text" #country="ngModel"
                   [(ngModel)]="model.country"
                   class="form-control" id="country" name="country" required>
        </div>
        <div [hidden]="country.valid || country.pristine"
             class="col-md-6 alert alert-danger">
            Country is required
        </div>
    </div>

    <div class="form-group">
        <label for="gender" class="col-md-4 control-label">Gender</label>
        <div class="col-md-6">
            <select class="form-control" id="gender" name="gender" #gender="ngModel" [(ngModel)]="model.gender" multiple="multiple" required>
                <option *ngFor="let opt of genders" [value]="opt.id">{{opt.name}}</option>
            </select>
        </div>
        <div [hidden]="gender.valid || gender.pristine"
             class="col-md-6 alert alert-danger">
            Gender is required
        </div>
    </div>

    <div class="form-group">
        <label for="photo" class="col-md-4 control-label">Photo</label>
        <div class="col-md-6">
            <input type="text" #photo="ngModel"
                   [(ngModel)]="model.photo"
                   class="form-control" id="photo" name="photo" required>
        </div>
        <div [hidden]="photo.valid || photo.pristine"
             class="col-md-6 alert alert-danger">
            Photo is required
        </div>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
</form>
