<p><strong>Comments:</strong> </p>
<ng-container *ngFor="let comment of comments">
    <div>
        <strong>Date:</strong> {{comment.created_at}}
        <strong>{{comment.comment}}</strong>
        Author: <strong>{{comment.user_details.name}}</strong>
    </div>
</ng-container>
<p style="margin-top: 20px"><strong>New Comment:</strong></p>
<textarea rows="4" cols="60" [(ngModel)]="commentText" placeholder="New Comment">
</textarea>
<button class="btn btn-success" (click)="postComment()">Post</button>


