<div class="row">
    <a [routerLink]="['/films']"><strong><< Back</strong></a>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="row">
            <div class="col-md-6">
                <img style="max-height: 80%; max-width: 80%" src="{{film.photo}}">
            </div>
            <div class="col-md-6 aling-left">
                <strong>Name:</strong> {{film.name}} <br>
                <strong>Description:</strong> {{film.description}} <br>
                <strong>Release Date:</strong> {{film.release_date}} <br>
                <strong>Rating:</strong> {{film.rating}} <br>
                <strong>Ticket Price:</strong> {{film.ticket_price}} $<br>
                <strong>Country:</strong> {{film.country}} <br>
                <strong>Genre:</strong> Horror <br>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-10">
                    <comment-section [comments]="film.comments"></comment-section>
                </div>
            </div>

        </div>

    </div>
</div>
