<div class="col-md-12 col-sm-12">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <a [routerLink]="['/films', film.id]" (click)="svcServer.selectedFilm = film">
                <img style="max-height: 80%; max-width: 80%" src="{{film.photo}}">
            </a>
        </div>
        <p style="font-size: x-large">{{film.name}}</p>
    </div>
</div>