<div class="row" >
    <button style="float: right;" class="btn btn-primary" [routerLink]="['/films/create']">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> New Film
    </button>
</div>
<div class="panel-body" style="text-align: center">
    <ng-container
            *ngFor="let film of films | paginate: { id: 'server', itemsPerPage: 1, currentPage: p, totalItems: total }">
        <film-widget [film]="film"></film-widget>
    </ng-container>
    <!--pagination here-->
    <pagination-controls (pageChange)="getPageChange($event)" maxSize="3" id="server"></pagination-controls>
</div>
